name: Lint and run tests

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: | 
<<<<<<< HEAD
        python -m pip install -e . --group dev --no-cache-dir
=======
        python -m pip install -e .[dev]
>>>>>>> 434d9da (Initialize ci-101-update-version)
    - name: Run linter checks
      run: flake8 . && interrogate --verbose .
    - name: Run tests and coverage
      run: coverage run -m unittest discover && coverage report
